// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header .container {
  text-align: center;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 30px;
}

.container {
  padding: 25px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

  .main {
    text-align: center;

    .left-half {
      width: 40%;
      float: left;
      border-right: 1px solid lightgrey;
      padding-right: 10%;

      #current-recordings {
        margin-top: 40px;
      }
    }

    .right-half {
      width: 40%;
      float: right;
    }

    .rounded-border {
      border: 2px solid rgba(0,0,0,0.1);
      border-radius: 20px;
      display: inline-block;
      padding: 10px 35px;
      background-color: #edf4fb;
      width: 75%;
    }

    .extra-info {
      color: grey;
    }
  }
}

.join-meeting {

  .form-text-field {
    width: 75%;
    font-size: 18px;
    margin-top: 20px;
  }

  .login-form {
    margin-top: 40px;

    .form-check-box {
      display: inline-block;
      width: 75%;
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 18px;
    }

    .submit-button {
      color: white;
      background: #293c81;
      padding: 12px 5px;
      border-radius: 10px;
      width: 50%;
      font-size: 18px;
      border: 2px solid rgba(0,0,0,0.1);
    }
  }
}

.styled-table {
  list-style: none;

  .table-row {
    border: 2px solid rgba(0,0,0,0.1);
    font-size: 18px;
    padding: 10px;
    text-align: left;

    .fas {
      float: right;
      color: #293c81;
    }
  }
}
