// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header .container {
  text-align: center;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 30px;
}

.container {
  padding: 5px;
}


.left-half {
  width: 50%;
  float: left;
}

.right-half {
  width: 50%;
  float: right;
  text-align: center;
}

.half-content {
  border: 1px solid lightgrey;
  display: inline-block;
  padding: 10px 35px;
  background-color: #edf4fb;
}

.join-meeting input {
  width: 100%;
}

.join-meeting #name {
  margin-top: 50px;
}

.join-meeting .submit-button {
  color: white;
  background: #293c81;
  padding: 5px;
  border-radius: 10px;
  margin-top: 15px;
  left: 2px;
}
