// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header .container {
  text-align: center;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 30px;
}

.container {
  padding: 25px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container .main {
  text-align: center;
}

.extra-info {
  color: grey;
}

.join-meeting {
  border: 2px solid lightgrey;
  border-radius: 40px;
  display: inline-block;
  padding: 10px 35px;
  background-color: #edf4fb;
}

.join-meeting .form-text-field {
  width: 75%;
  font-size: 18px;
}

.join-meeting .login-form {
  margin-top: 40px;
}

.join-meeting .form-text-field {
  margin-top: 20px;
}

.join-meeting .submit-button {
  color: white;
  background: #293c81;
  padding: 15px 5px;
  border-radius: 10px;
  margin-top: 15px;
  left: 2px;
  margin-bottom: 30px;
  width: 50%;
  font-size: 18px;
}
